{% macro galleryelmt(imgPath, projectName, className) %}
  <li class="list-gallery__elmt {{ className }}" tabindex="1">
    <div class="list-gallery__elmt-container">
        <ul class="list-unstyled infos">
            <li>{{ projectName }}</li>
            <li>{{ className }}</li> 
            <li>5 images</li>
        </ul>

        <ul class="toolbar list-unstyled">
            <li><a href="#" title="accéder {{ projectName }}">Modifier</a></li>
            <li><button class="reset-btn distruptive" data-toggle="modal" data-target="#removeItemGalleryModal" data-img-to-delete-src="http://lorempixel.com/700/1900/cats/8/" data-title-modal="Souhaitez-vous supprimer cette image ?" data-occurences-image="5" data-id="42">Oui</button></li> 
        </ul>
    </div>
    <figure><img src="{{ imgPath }}" alt="" /></figure>
  </li>
{% endmacro %}