.filters__container {
    margin-top: 12px;
    & > * {
        display: inline-block;
    }
    & > p {
        margin-right: 10px;
    }
    .filters {
        li {
            display: inline-block;
            font-size: 14px;
            margin-right: 6px;
        }
        a {
            padding: 3px 13px;
            background-color: #b5c5d0;
            display: block;
            border: 1px solid transparent; // Prevent div to move
            color: $main-font-color;

            &:hover {
                border: 1px solid $input-border-color;
            }

            &:active {
                background-color: #9cb0bd;
            }

            &.active {
                background-color: $main-font-color;
                color: #b5c5d0;
            }
        }
    }
}