#pagination {
    margin-top: 20px;
    border-top: 1px solid #b5c5d0;
    border-bottom: 1px solid #b5c5d0;

    ul {
        margin-bottom: 0;
        font-size: 0;
        li {
            display: inline-block;
            font-family: $opensans-semibold;
            font-size: 14px;
            a {
                padding: 8px 12px;
                display: block;
                color: $main-font-color;
                &:hover {
                    color: #b5c5d0;
                    background-color: $main-font-color;
                }

                &.active {
                    background-color: $main-font-color;
                    color: white;
                }
                
                &.ellipsis {
                    border-left: 1px solid $main-font-color;
                    border-right: 1px solid $main-font-color;
                }
            } 
        }
    }
}