h2, .h2 {
    font-size: 26px;
    margin-top: 0;
}

h3, .h3 {
    font-size: 22px;
    margin-top: 0;
}

h4, .h4 {
    font-size: 14px;
    margin-top: 0;
}

.light {
    font-family: $opensans-light;
}

@mixin light {
    font-family: $opensans-light;
}

.semibold {
    font-family: $opensans-semibold;
}

@mixin semibold {
    font-family: $opensans-semibold;
}

.regular {
    font-family: $opensans-regular;
}

@mixin regular {
    font-family: $opensans-regular;
}
