$opensans-regular: "open_sansregular", "Helvetica Neue", "Arial", sans-serif;
$opensans-light: "open_sanslight", "Helvetica Neue", "Arial", sans-serif;
$opensans-semibold: "open_sanssemibold", "Helvetica Neue", "Arial", sans-serif;


$main-bg-color: #f9f9f9;
$main-border-color: rgb(181, 197, 208);
$main-border-radius-size: 5px;

$main-font-color: #1a2a35;
$input-border-color: #1a2a35;


// Breakpoints
$break-xs-small: 320px; // Only for portrait mobile
$break-small: 768px; //
$break-large: 1200px;