{% extends 'layouts/base.html' %}
 
{% block content %}
    <div class="row main-container stack-xs">
        {% include "includes/navigation.html" %}

        <section class="col-xs-12 col-md-9">
            <div id="main-wrapper">
                <header>
                    <h3 class="semibold">
                        {% block sectiontitle %}Put a title plz{% endblock %}
                    </h3>
                    {% if menuHeader %}
                    <nav>
                        <ul class="menu-header">
                            <li>{% block section_subtitle %}Bibliothèque d'images (default){% endblock %}</li>
                            <li><a href="#">Ajouter une image</a></li>
                        </ul>
                    </nav>
                    {% endif %}
                    {% block headerextras %}{% endblock %}
                    
                </header>
                {% block main %}{% endblock %}
                
            </div>
        </section>
           
    </div> 
{% endblock %}