<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Le backoffice de Pikachu{% endblock %}</title>
    
  {% block css %}
    <link rel="stylesheet" href="assets/styles/main.css" />
  {% endblock %} 
</head>
<body>
    <header id="main-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <span>Bonjour Pikachu</span>
                </div>
                <div class="col-xs-6 text-right">
                    <a href="#">Déconnexion</a>
                </div>
            </div>
        </div>
    </header>
    {% set printscreensDatas = datas.printscreens %}
    <div class="container"> 
        {% block content %}{% endblock %} 
    </div>
    {% include "includes/toolbar-project-overview.html" %}

    <script src="bundle.js"></script>
    {% block scripts %}{% endblock %} 
</body>
</html>