{% extends 'layouts/base-backoffice.html' %}

{% block title %}Galerie{% endblock %}

{% block sectiontitle %}Ajouter une nouvelle image{% endblock %}

{% import 'macros/gallery.html' as gallery %}

{% block main %} 
    <div class="row">
     <form action="#" class="col-xs-12">
         <div class="form-element">
             <label for="image-name">Nom de l'image (facultatif)</label>
             <input type="text" id="image-name" name="image_name"/>
         </div>
         <div class="form-element">
             <label for="image-name">Sélectionner image</label>
             <select name="" id="">
                 <option value="">Work</option>
                 <option value="">Perso</option>
             </select>
         </div>
         <div class="form-element">
             <label for="online">Mettre en ligne</label>
             <div class="input-radio-container">
                <input type="radio" name="isonline" value="yes" checked id="oui">
                <label for="oui">Oui</label> 
             </div>
             <div class="input-radio-container">
                <input type="radio" name="isonline" value="yes" checked id="non">
                <label for="non">Non</label> 
             </div> 
         </div>
         <div class="form-element">
             <button type="button" class="btn-select-images" data-toggle="modal" data-target="#galleryModal">
            Sélectionner images
            </button>
         </div>

         <div class="form-element">
             <ul class="row list-images-selected list-unstyled no-margin" data-bind="foreach: images">
                <li class="col-md-3 col-sm-6 list-images-selected__item">
                  <button class="reset-btn" type="button" data-bind="attr: { 'data-img-path': $data }">
                    <figure>
                      <img data-bind="attr: { src: $data }" alt="">
                    </figure>
                  </button>
              </li>
             </ul>
         </div>

         <div class="form-element">
             <input type="submit" value="Ajouter">
         </div>
     </form>
    </div>
    {% include "includes/modal-gallery.html" %} 
{% endblock %}