{% extends 'layouts/base-backoffice.html' %}

{% block title %}Projets{% endblock %}

{% block sectiontitle %}Liste des projets{% endblock %}

{% import 'macros/gallery.html' as gallery %}

{% set menuHeader = true %}
{% block headerextras %}
    <div class="filters__container">
        <p class="h4">Filtres</p>
        <ul class="filters list-unstyled">
            <li><a href="#" class="active" data-filter-name="all">Tout</a></li>
            <li><a href="#" data-filter-name="work">Work</a></li>
            <li><a href="#" data-filter-name="perso">Perso</a></li>
        </ul>
    </div>
{% endblock %}

{% block main %}
    <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

    Image ajoutée</div>
    <div class="alert alert-info" role="alert">
        <p>Vous n'avez pas de projets pour le moment</p>
        <p>
            <a class="btn btn-default btn-sm dropdown-toggle" href="#">
                Ajouter un projet
            </a>
        </p>
    </div>
    {% set datas = [{imgPath: "http://lorempixel.com/400/200/cats/6/", projectName:"Project1"},
    {imgPath: "http://lorempixel.com/400/200/cats/1/", projectName:"Project2"},
    {imgPath: "http://lorempixel.com/400/200/cats/2/", projectName:"Project3"},
    {imgPath: "http://lorempixel.com/400/200/cats/3/", projectName:"Project4"},
    {imgPath: "http://lorempixel.com/400/200/cats/5/", projectName:"Project5"},
    {imgPath: "http://lorempixel.com/400/200/cats/6/", projectName:"Project6"},
    {imgPath: "http://lorempixel.com/400/200/cats/7/", projectName:"Project6"},
    {imgPath: "http://lorempixel.com/400/200/cats/8/", projectName:"Project6"},
    {imgPath: "http://lorempixel.com/400/200/cats/9/", projectName:"Project6"}
    ]  %}
    <ul class="list-unstyled list-gallery">
        {% for val in datas %}
            {{ gallery.galleryelmt(val.imgPath, val.projectName, "work") }}
        {% endfor %}
        {% for val in datas %}
            {{ gallery.galleryelmt(val.imgPath, val.projectName, "perso") }}
        {% endfor %}
    </ul>


    {% include "includes/pagination.html" %}
{% endblock %}