{% extends 'layouts/base-backoffice.html' %}

{% block title %}Projets{% endblock %}

{% block sectiontitle %}Liste des projets{% endblock %}

{% import 'macros/gallery.html' as gallery %}

{% set menuHeader = true %}

{% block main %}
    {% set datas = [{imgPath: "http://lorempixel.com/400/200/cats/6/", projectName:"Project1"},
    {imgPath: "http://lorempixel.com/400/200/cats/1/", projectName:"Project2"},
    {imgPath: "http://lorempixel.com/400/200/cats/2/", projectName:"Project3"},
    {imgPath: "http://lorempixel.com/400/200/cats/3/", projectName:"Project4"},
    {imgPath: "http://lorempixel.com/400/200/cats/5/", projectName:"Project5"},
    {imgPath: "http://lorempixel.com/400/200/cats/6/", projectName:"Project6"},
    {imgPath: "http://lorempixel.com/400/200/cats/7/", projectName:"Project6"},
    {imgPath: "http://lorempixel.com/400/200/cats/8/", projectName:"Project6"},
    {imgPath: "http://lorempixel.com/400/200/cats/9/", projectName:"Project6"}
    ]  %}
    <ul class="list-unstyled list-gallery">
        {% for val in datas %}
            {{ gallery.galleryelmt(val.imgPath, val.projectName, "work") }}
        {% endfor %}
        {% for val in datas %}
            {{ gallery.galleryelmt(val.imgPath, val.projectName, "perso") }}
        {% endfor %}
    </ul>


    {% include "includes/pagination.html" %}
{% endblock %}