<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-bind="with: profile">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header__top">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Bibliothèque d'images</h4>
          <span class="sub-text">Veuillez sélectionner une ou plusieurs images</span>
        </div>
        

        <form class="search__container">
          <p>Rechercher par nom</p>
          <div class="search-gallery-item-input__container">
            <input type="text" placeholder="Nom du fichier" id="gallerySearchInput" data-bind="textInput: searchTyped, valueUpdate:'keyup'" autofocus />
            <button type="reset" class="btn-reset-form reset-btn" data-bind="visible: searchTyped"><span aria-hidden="true">&times;</span></button>
          </div>
          <p class="nb-results" data-bind="text: searchResults().length + ' résultat(s) trouvé(s)'"></p>
        </form>
      </div>
      <div class="modal-body">

        <div class="gallery-library__container">
          <ul class="row list-unstyled gallery-library" 
          data-gallery-items='[{"imgPath": "http://lorempixel.com/400/200/cats/6/", "projectName":"Project1", "isInProject": false, "id": 92},
            {"imgPath": "http://lorempixel.com/400/200/cats/1/", "projectName":"Projéct2", "isInProject": false, "id": 5}]' 
            data-bind="foreach: searchResults"
            data-img-basepath=""
            data-img-key="imgPath"
            data-search-fields="projectName, imgPath"
            data-search-type="contains"
            data-modal-project-images>
                <li class="col-md-4 col-sm-6 gallery-library__item" data-bind="attr: { 'class': 'col-md-4 col-sm-6 gallery-library__item col-lg-' + $parent.classItems() }">
                  <button class="reset-btn" type="button" data-bind="attr: { 'data-gallery-item': JSON.stringify($data), title: name }">
                    <figure>
                      <div class="icon-checkmark" data-bind="visible: inProject"></div>
                      
                      <img data-bind="attr: { src: imgPath }" alt=""/>
                    </figure>
                  </button>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="gallerySliderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-bind="with: shell">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header__top">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Bibliothèque d'images</h4>
          <span class="sub-text">Veuillez sélectionner une image</span>
        </div>
        

        <form class="search__container">
          <p>Rechercher par nom</p>
          <div class="search-gallery-item-input__container">
            <input type="text" placeholder="Nom du fichier" id="gallerySliderSearchInput" data-bind="textInput: searchTyped, valueUpdate:'keyup'" autofocus />
            <button type="reset" class="btn-reset-form reset-btn" data-bind="visible: searchTyped"><span aria-hidden="true">&times;</span></button>
          </div>
          <p class="nb-results" data-bind="text: searchResults().length + ' résultat(s) trouvé(s)'"></p>
        </form>
      </div>
      <div class="modal-body">

        <div class="gallery-library__container">
          <ul class="row list-unstyled gallery-library" 
          data-gallery-items='[{"imgPath": "http://lorempixel.com/400/200/cats/6/", "projectName":"Project1", "isInProject": false, "id": 92},
            {"imgPath": "http://lorempixel.com/400/200/cats/1/", "projectName":"Projéct2", "isInProject": false, "id": 5}]' 
            data-bind="foreach: searchResults"
            data-img-basepath=""
            data-img-key="imgPath"
            data-search-fields="projectName, imgPath"
            data-search-type="contains"
            data-modal-slider-image>
                <li class="col-md-4 col-sm-6 gallery-library__item" data-bind="attr: { 'class': 'col-md-4 col-sm-6 gallery-library__item col-lg-' + $parent.classItems() }">
                  <button class="reset-btn" type="button" data-bind="attr: { 'data-gallery-item': JSON.stringify($data), title: name }">
                    <figure>
                      <div class="icon-checkmark" data-bind="visible: inProject"></div>
                      
                      <img data-bind="attr: { src: imgPath }" alt=""/>
                    </figure>
                  </button>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>