<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header__top">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Bibliothèque d'images</h4>
          <span class="sub-text">Veuillez sélectionner une ou plusieurs images</span>
        </div>
        

        <form class="search__container">
          <p>Rechercher par nom</p>
          <div class="search-gallery-item-input__container">
            <input type="text" placeholder="Nom du fichier" data-bind="textInput: imageName, valueUpdate:'keyup'" />
            <button type="reset" class="btn-reset-form reset-btn"><span aria-hidden="true">&times;</span></button>
          </div>
          <p class="nb-results" data-bind="text: searchResults().length + ' résultat(s) trouvé(s)'"></p>
        </form>
      </div>
      <div class="modal-body">
        <div class="gallery-library__container">
          <ul class="row list-unstyled gallery-library" 
          data-gallery-items='[{"imgPath": "http://lorempixel.com/400/200/cats/6/", "projectName":"Project1", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/1/", "projectName":"Project2", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/2/", "projectName":"Project3", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/3/", "projectName":"Project4", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/5/", "projectName":"Project5", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/10/", "projectName":"Project5", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/5/", "projectName":"Project5", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/6/", "projectName":"Project6", "isInProject": true},
            {"imgPath": "http://lorempixel.com/400/200/cats/7/", "projectName":"Project6", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/9/", "projectName":"Project6", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/8/", "projectName":"Project6", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/0/", "projectName":"Project8", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/5/", "projectName":"Project6", "isInProject": true},
            {"imgPath": "http://lorempixel.com/400/200/cats/0/", "projectName":"Project6", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/4/", "projectName":"Project6", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/10/", "projectName":"Project8", "isInProject": true},
            {"imgPath": "http://lorempixel.com/400/200/cats/0/", "projectName":"Project4", "isInProject": true},
            {"imgPath": "http://lorempixel.com/400/200/cats/3/", "projectName":"Project4", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/7/", "projectName":"Project6", "isInProject": false},
            {"imgPath": "http://lorempixel.com/400/200/cats/9/", "projectName":"Project6", "isInProject": true}
            ]' 
            data-bind="foreach: searchResults">
                <li class="col-md-4 col-sm-6 gallery-library__item" data-bind="attr: { 'class': 'col-md-4 col-sm-6 gallery-library__item col-lg-' + $parent.classItems() }">
                 <!-- <p class="nb-results" data-bind="text: Math.floor($parent.searchResults().length/2)"></p> -->
                  <button class="reset-btn" type="button" data-bind="attr: { 'data-gallery-item': JSON.stringify($data) }">
                    <figure>
                      <img data-bind="attr: { src: imgPath }" alt="" />
                    </figure>
                  </button>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>