<aside class="col-xs-12 col-md-3">
    <div id="menu">
        <header style="background-image: url('http://lorempixel.com/image_output/cats-q-c-640-480-4.jpg')">
            <div class="wrapper">
                <h3 class="light">Pikachu.fr</h3>
                <a href="#">Accéder au site</a>
            </div>
        </header>
        <nav>
            <ul class="list-unstyled">
                <li class="active"><a href="galerie.html" title="Aller page galerie">Galerie</a></li>
                <li><a href="#" title="Aller page projets">Projets</a></li>
                <li><a href="#" title="Aller page profil">Profil</a></li> 
            </ul>
        </nav>
    </div>
</aside>